body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.chart-and-countries {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    margin: 20px;
}

.label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.country-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.country {
    margin-bottom: 5px;
}

